body {
    background-image: url('th.jpeg'); /* arahkan ke lokasi gambarmu */
    background-size: cover;           /* Menyesuaikan seluruh layar */
    background-repeat: no-repeat;     /* Tidak mengulang gambar */
    background-position: center;      /* Fokus di tengah */
    min-height: 100vh;                /* Agar body menutupi seluruh layar */
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.melengkung-banget {
border-radius: 50px;
}
